/* Navigation */
.hoverable {
    display: inline-block;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  
  .hoverable:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
      transform: translateY(-5px);
    }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  @media (min-width: 768px) {
    .navbar {
      text-align: center !important;
      float: none;
      display: inline-block;
      font-size: x-large;
      font-weight: 600;
      background-color: #202124;
    }
    a {
        color: #D24D57;
    }
  }
  
  @media (max-width: 768px) {
      .nav {
          display: inline-block;
      }
      .navbar {
        text-align: center !important;
          display: inline-block;
          font-size: small;
          font-weight: 600;
          background-color: #202124;
      }
      a {
          color: #D24D57;
      }
    }
  
  #menu {
      background-color: #202124;
      text-align: center !important;
  }
  
  nav li {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  
  nav li a {
    transition: .5s color ease-in-out;
  }
  


/* General */
body {
    width: 100%;
}
p {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

h5 {
    color: black;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

h6 {
    color: black;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}


/* Header */
@media (min-width: 768px) {
    .title {
        height: 92vh;
        align-content: center;
        padding-top: 6%;
    
        align-content: center;
        text-align: center;
        background:
        linear-gradient(
            rgba(0, 51, 153, 0.30), 
            rgba(1, 4, 8, 0.3)
        ),
        url("assets/desert.jpg");
        background-repeat: no-repeat;
        color: whitesmoke;   
        font-family: 'Roboto', sans-serif;
        text-emphasis-style: bold;
    }

    #info {
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        height: 90vh;
    }

    #signature {
        font-family: 'meddon';
        font-size: 10vh;
    }
    
    #jobtitle {
        font-size: 5vh;
    }
    
    .btn-danger{
        height: 15%;
        width: 30%;
        margin: 5%;
    }

    #adamphoto {
        width: 58%;
        height: 58%;
        animation-name: slideInRight;
        animation-duration: 2s;
    }     
  }
  
  @media (max-width: 768px) {
    .title {
        height: 78vh;
        padding-top: 20%;
        align-content: center;
        text-align: center;
        background:
         linear-gradient(
             rgba(0, 51, 153, 0.30), 
             rgba(1, 4, 8, 0.3)
           ),
         url("assets/desert.jpg");
        background-repeat: no-repeat;
        color: whitesmoke;   
        font-family: 'Roboto', sans-serif;
        text-emphasis-style: bold;
     }

    #info {
        margin-left: auto;
        margin-right: auto;
        padding-top: 20%;
        padding-bottom: 5%;
        padding-left: 10%;
        height: 60vh;
    }
    #signature {
        font-family: 'meddon';
        font-size: 5vh;
    }
    
    #jobtitle {
        font-size: 2vh;
    }
    
    .btn-danger{
        height: 10vh;
        width: 15vh;
        margin: 5%;
    }

    #adamphoto {
        width: 90%;
        height: 90%;
        animation-name: slideInRight;
        animation-duration: 2s;
    }  
}

/* About */
#aboutSection {
background-color: #202124;
}

#intro {
    color: whitesmoke;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.card-img-top {
    height: 30%;
    width: 30%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.card-deck {
    margin-left: 4em;
    margin-right: 4em;
}

.card {
    background-color: whitesmoke;
}

.card-text {
    line-height: 1em;
    text-align: center;
}


/* Projects */
#projectSection {
    height: 100vh;
    background-color: #D24D57;
    padding: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#projects {
    width: 45%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}



/* Contact */
#contact {
    text-align: center;  
    font-family: 'Roboto', sans-serif;
    background-color: #202124;
    color: whitesmoke;
    padding-left: 1em;
    padding-right: 1em;
}


/* Socials */
footer {
    background-color: #202124;
    padding-bottom: 1em;
}

.socials {
    align-content: center;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #24292E;
    color: white;
}
    
@media only screen and (max-width: 600px) {
    #projectSection {
        height: 100%;
        background-color: #D24D57;
        padding: 1em;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    #projects {
        height: 100%;
        width: 100%;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 1em;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
  }