nav {
    float: none;
    text-align: center;
    position: relative;
    background-color: white;
    opacity: .6;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

nav a {
    text-decoration: none;
    margin: 20px;
    font-size: 1.8em;
    font-weight: 400;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}

nav a:hover{
    cursor: pointer;
    background-color: white;
    font-size: 2.em;
    text-decoration: underline;
    color: #d24d57;
    font-family: 'Roboto', sans-serif;
}   

p {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

h5 {
    color: black;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

h6 {
    color: black;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.title {
   height: auto;
   padding-top: 3em;
   align-content: center;
   padding-top: 10%;
   align-content: center;
   text-align: center;
   background:
    linear-gradient(
        rgba(0, 51, 153, 0.30), 
        rgba(1, 4, 8, 0.3)
      ),
    url("assets/desert.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: whitesmoke;   
   font-family: 'Roboto', sans-serif;
   text-emphasis-style: bold;
}

#camel {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    animation-name: slideInRight;
    animation-duration: 3s;
}    

.btn-danger{
    height: 4em;
    width: 10em;
    margin: 2em;
}

#adam {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}

article {
    text-align: center;
    margin: .5em;
    height: 100%;
}

#knowMe {
    text-align: center;
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#desktopBio {
    padding-bottom: 1em;
}

#bio {
    padding-right: 4em;
    text-align: left;
    position: relative;
}

#resume {
    height: 10em;
    width: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.resumeSection {
    width: 15em;
    border-radius: 25px;
    background-color: #24292E;
    text-align: center;
    display: inline-block;
    justify-content: center;
}

#projectSection {
    height: 100vh;
    background-color: #D24D57;
    padding: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#projects {
    height: 90vh;
    width: 90vh;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    font-family: 'Roboto', sans-serif;
    color: white;
}


#contact {
    text-align: center; 
    margin: 3em;  
    font-family: 'Roboto', sans-serif;
}

.btn-outline-danger {
    height: 5em;
    width: 15em;
}

.socials {
    align-content: center;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #24292E;
    color: white;
}
    
@media only screen and (max-width: 600px) {
    nav {
        float: none;
        text-align: left;   
        display: inline-block;
        position: relative;
        background-color: white;
        opacity: .6;
        padding: .5em;
        font-family: 'Roboto', sans-serif;
        white-space: wrap;
    }

    #camel {
        height: 100%;
        width: 100%;
    }

    h2 {
        padding-left: 1em;
    }

    #bio {
      padding-left: 1em;
    }

    #projectSection {
        height: 100%;
        background-color: #D24D57;
        padding: 1em;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    #projects {
        height: 100%;
        width: 100%;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 1em;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    
  }